body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-color: #F9F9F9;*/
    background-color: #e2e2e2;
    font-family: "Lato", sans-serif
}
.StatBox {
    margin-top:10px;
    margin-bottom:10px;
    text-align:center;
}

#box2 {
    background-color: grey;
    color:white;
    width:50%;
}
    
input,
select,
textarea {
    max-width: 380px;
}
#box3 {
    background-color: grey;
    color: white;
    width: auto;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 3px;
} /* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 1px;
    padding-right: 1px;
}
.profileBox{
    float:left;
    padding-top:20px;
}
#navbarFilter {
    margin: auto;
    width: 80%;
    color: white;
}
    #navbarFilter li {
        border-left: 2px solid hidden;
        background-color: lightgray;
    }

ul.complaintsub li {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    float: left;
    list-style: none;
    width: 25%;
}

#topnav {
    background-color: #DC143C;
    font-family: Verdana;

}
#oneone :hover {
    background-color: #A5A5A5;
}
#topnav li:hover {
    background: #A5A5A5;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
#tabs_main {
    float: right;
    
}
#map {
    height: 400px; /* The height is 400 pixels */
    width: 96%; /* The width is the width of the web page */
    margin-left:20px;
}
#map2{
    height:200px;
    width:90%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
footer {
    margin-top:30px;
    width: 100%;
    height: 60px;
    display: inline-block;
    text-align:center;
}
div#restBody {
    background-color: #F9F9F9;
}


section {
    display: -webkit-flex;
    display: flex;
}

/* Style the navigation menu */
nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 20px;
}

    /* Style the list inside the menu */
    nav ul {
        list-style-type: none;
        padding: 0;
    }

/* Style the content */
article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 6;
    background-color: #f1f1f1;
    padding: 10px;
}

@media (max-width: 600px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

.meter {
    height: 10px; /* Can be anything */
    position: relative;
    background-color:lightgray ;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 5px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}


.dropbtn {
    background-color: grey;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.itemInsideDropdown {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

    .itemInsideDropdown:hover {
        background-color: #ddd;
    }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.dropdown-content a {
    color: black;
     padding: 12px 16px;
    text-decoration: none;
    display: block;
}
    .dropdown-content a:hover {
        background-color: #ddd;
    }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color:  gainsboro;
}


/*card template*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body.card {

    width: 50%;
    height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
}

.card_left {
        width: 40%;
        height: 300px;
        float: left;
        overflow: hidden;
        background: transparent;
    }

.card_left img {
            width: 100%;
            height: 300px;
            border-radius: 10px 0 0 10px;
            -webkit-border-radius: 10px 0 0 10px;
            -moz-border-radius: 10px 0 0 10px;
            position: relative;
        }

    body .card_right {
        width: 60%;
        float: left;
        background: rgba(0, 0, 0, 0.20);

        height: 300px;
        border-radius: 0 10px 10px 0;
        -webkit-border-radius: 0 10px 10px 0;
        -moz-border-radius: 0 10px 10px 0;
    }

.card_right h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 40px;
    margin: 30px 0 0 0;
    padding: 0 0 0 40px;
    letter-spacing: 1px;
}

.card_right__details ul {
    list-style-type: none;
    padding: 0 0 0 40px;
    margin: 10px 0 0 0;
}

.card_right__details ul li {
        display: inline;
        color: #e3e3e3;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        padding: 0 40px 0 0;
    }

     .card_right__review p {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        padding: 0 40px 0 40px;
        letter-spacing: 1px;
        margin: 10px 0 10px 0;
        line-height: 20px;
    }

     .card_right__review a {
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        padding: 0 0 0 40px;
        color: #ffda00;
        margin: 0;
    }

     .card_right__button {
        padding: 0 0 0 40px;
        margin: 30px 0 0 0;
    }
.icon-btn {
    margin:30px 0 0 30px;
}
/*image carousel used from w3school*/
/**/
/**/
/**/

/* Slideshow container */
.slideshow-container {
    width:auto;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}










/**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/



/**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/


/**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/


/**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/


/**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/


/**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/




/**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/
/**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/


/**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/


/**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/


/**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/



/**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/

/**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/

/**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/

/**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/



/**//**//**//**//**//**//**//**//**//**//**//**//**//**/


